body{
	background-image:url('../images/farm.png');
	color:white;
}
 a{
	color:white;
	text-decoration:none;
 }
 
 a:hover{
	color:rgba(175,175,175,1);
	text-decoration:none;
 }
.portfolio{
	background-color:rgba(75,75,75,.7);
}
.jumbotron{
	background:none;
	color:white;
}